@font-face {
    font-family: myHeader;
    src: url(PlayfairDisplay-VariableFont_wght.ttf);

    font-family: myLinks;
    src: url(Roboto-Light.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: myLinks;
    font-size: 14px;
}

h1 {
    font-size: 24px;
    font-family: myHeader;
    color: black;
    font-weight: 300;
}

.header {
    padding: 10px 30px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgb(236, 244, 252), white);
    align-items: center;
}

.left-header {
    display: flex;
    align-items: center;
}

.top-links {
    list-style: none;
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;
    align-items: center;
    font-size: 15px;
    color: black;
    margin-left: 128px; 
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  li {
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
  
  li:hover,
  li:focus-within {
    cursor: pointer;
  }
  
  li:focus-within a {
    outline: none;
  }
  
  ul li ul {
    background-image: linear-gradient(white, aliceblue);
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.9s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block
  }
  
  ul li ul li {
    clear: both;
    width: 100%;
  }

.user-settings {
    display: flex;
    align-items: center;
    gap: 50px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
    font-weight: 700;
}

.title {
    margin-left: 4px;
    margin-right: 60px;
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 26px;
}

.widget-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
}

.roster-container,
.quick-booking-container,
.shift-matches-container,
.compliance-insights-container,
.upcoming-bookings-container {
  background-color: rgb(236, 244, 252);
  height: 680px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  border-radius: 4px;
  width: 500px;
  padding: 16px 32px;
  margin: 48px 0px;
  margin-top: 10px;
}

.roster-container,
.shift-matches-container,
.compliance-insights-container,
.quick-booking-container {
  height: 298px;
}

.booking {
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 2px 4px 16px rgba(0,0,0,.1);
  border: 1px solid #cccaca;
  width: 470px;
  height: 30px;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compiled-bookings {
  height: 580px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.expired-comp,
.thirty-days-comp,
.sixty-days-comp,
.shift {
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 2px 4px 16px rgba(0,0,0,.1);
  border: 1px solid #cccaca;
  width: 470px;
  height: 20px;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expired-comp {
  background-color: rgb(252, 208, 192);
}

.thirty-days-comp {
  background-color: rgb(255, 248, 209);
}

.sixty-days-comp {
  background-color: rgb(199, 253, 215);
}

.compiled-compliance {
  height: 200px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}