@font-face {
    font-family: myHeader;
    src: url(PlayfairDisplay-VariableFont_wght.ttf);

    font-family: myLinks;
    src: url(Roboto-Light.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: myLinks;
}

.header {
    padding: 10px 30px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(lightgrey, white);
    align-items: center;
}

.left-header {
    display: flex;
    align-items: center;
}

.top-links {
    list-style: none;
    display: flex;
    gap: 100px;
    margin: 0;
    margin-right: 8px;
    padding: 0;
    align-items: center;
    font-size: 15px;
}

.user-settings {
    display: flex;
    align-items: center;
    gap: 50px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkgrey;
    font-weight: bold;
}

.title {
    font-size: 20px;
    font-family: myHeader;
    color: black;
    font-weight: 300;
    margin-left: 4px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    gap: 18px;
}

.logo {
    display: flex;
    align-items: center;
}
